 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bg{
  background-color: #343A40;
}
.card{
  margin-left: 70px;
}
.skil{
  text-align: center;
  color: aliceblue;
  border: 1px solid rgb(218, 218, 218);
}
.bottom{
  text-align: center;
  color: aliceblue;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}
.sms{
  text-align: center;
  color: aliceblue;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}
.sms:hover{
  color: goldenrod;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
